<ul class="list-group">
  <% @questions.reverse_each do |question| %>
  <% if user_signed_in? && current_user == question.user %>
    <li class="list-group-item current-list">
    <span class="badge current-badge"><%= question.answers.count %></span>
  <% else %>
    <li class="list-group-item">
    <span class="badge"><%= question.answers.count %></span>
  <% end %>
      

        <%= link_to question.title, question, class: "soru-baslik" %>

        <% if user_signed_in? && current_user == question.user %>
          <span class="duzenle"><i class="fa fa-pencil"></i> <%= link_to "Düzenle", edit_question_path(question) %> </span>
          <span class="sil"><i class="fa fa-trash-o"></i> <%= link_to "Sil", question, method: :delete, data: {confirm: "Emin misin?"} %></span>
        
        <% end %> 
         
          <% question.tags.each do |tag| %>
             <span>   <%= tag.name %>   </span>
          <% end %>
        
        <small class="help-block alt-bilgi"><i class="fa fa-clock-o"></i> <%= link_to time_ago_in_words(question.created_at), question %> <i class="fa fa-user"></i> <%= question.user.profile.full_name %></small>
    </li>
  <% end %>

  <%= will_paginate @questions %>
</ul>

<%= link_to "Yeni Soru Sor", new_question_path, class: "btn btn-primary" if current_user%>
